
*{
  transition: 20ms;
  box-shadow: none;
  background-color: #00ff9d;
}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
}


h1{
    font-size: 100px;
color: Green;
margin-left: 400px;
}

h1:hover{
    color:rgb(255, 0, 0)
}

p{
    display: flex;
    justify-content: center;
  align-items: center;
    font-size: 25px;
  
 color:green;
}
p:hover{
    color:rgb(255, 0, 0)
}

.cat{
    display: flex;
    margin-left: 15%;
border-radius: 10cm;
border-color:green; 
border-style:groove;
}

.cat:hover{
    border-color:rgb(255, 0, 0);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color:green;
    
}

header:hover{
    color:rgb(255, 0, 0)
}
.container>div{

    margin: 5%;
}